/* # By knightfall01 on Github as a part of https://github.com/Knightfall01/Hyprland-config */


* {
  font-family: "FiraCode Nerd Font", "Arial","JetBrainsMono Nerd Font";
  color: #c4d3da;
}

window {
  border: #90cdfa;
  border: 3px solid #268db2;
  border-radius: 25px;
  opacity: 0.8;
}

#input {
  margin: 1.5em 20px 1.5em 20px;
  margin-bottom: 0em;
  padding: 1em;
  border: none;
  font-weight: bold;
  font-size: 30px;
  background: #001a1d;
  color: #c4d3da;
  border-radius: 15px;
}

#input:focus {
  border: None; 
}

#inner-box {
  margin: 1.5em;
  margin-top: 0.5em;
}

#outer-box {
  margin-bottom: 0.5em;
}

#scroll {
  margin-top: 5px 0;
  display: none;
}

#text {
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold:
  margin-left: 0.5em;
  color: #c4d3da;
}

#text:selected {
  color: #fff;
}

#entry {
  margin-top: 0.5em;
  padding: 10px 0;
  padding-left: 5px;
  border-radius: 10px;
}

#entry:selected {
  background: linear-gradient(90deg, #d33682ff 20%, #8c1eff 50%);
}
