/* THEMAN https://github.com/sameemul-haque/dotfiles/blob/mocha/.config/waybar/style.css  */

/* 
 * YOU CAN DEFINE COLORS NO WAY
 * @define-color black #000000;

.class {
    color: @black;
}
 */
* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

window#waybar {
  padding: 0;
  border-radius: 8px;
  background-color: rgba(11, 11, 18, 0.3);
  border: 2px solid rgba(33, 118, 199, 0.2);
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
 box-shadow: inherit;
 text-shadow: inherit;
 color: #1e1e2e;
 background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#taskbar {
}

#taskbar *:hover {
}

#memory,
#custom-power,
#custom-online,
#backlight,
#pulseaudio,
#network,
#clock,
#cpu,
#custom-logo,
#tray {
  font-family: JetBrainsMono Nerd Font;
  color: rgba(255, 255, 255, 1);
  padding: 6px 12px;
  margin: 6px 0;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 30px;
  margin: 6px 0;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

#backlight {
  background-color: #fab387;
}

#network {
  background-color: #94e2d5;
}

#custom-power {
  background-color: #f2cdcd;
}

tooltip {
  border-radius: 10px;
  padding: 15px;
  background-color: #1e1e2e;
}

tooltip label {
    padding: 5px;
    color: #fff;
}

#clock,
#custom-online{
    min-width: 140px;
    background: rgba(33, 118, 199, 0.3);
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 8px;
}

#custom-online{
    margin-right: 12px;
}
#tray, #memory, #cpu {
  background: rgba(33, 118, 199, 0.3);
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#pulseaudio {
  background: rgba(33, 118, 199, 0.3);
  margin: 0;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 0 6px 6px 0;
}

#custom-logo {
  margin: 2px;
  background: rgba(33, 118, 199, 0.3);
  border-radius: 6px 0 0 6px;
  color: #fff;
  padding-left: 12px;
  padding-right: 12px;
}
