@define-color widgetbg rgba(33, 118, 199, 0.3);
@define-color panelbg rgba(11, 11, 18, 0.3);

* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

window#waybar {
  padding: 0;
  border-radius: 10px;
  background-color: @panelbg;
  border: 1px solid rgba(33, 118, 199, 0.2);
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
  background-color: transparent;
  margin-left: 5px;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  /*box-shadow: inset 0 -3px transparent;*/ /* Use box-shadow instead of border so the text isn't offset */
  min-width: 36px;
  font-size: 10px;
  padding-right: 3px;
  margin: 8px 0;
  background-color: @widgetbg;
  color: #cdd6f4;
}

#workspaces button:nth-child(even) {
  margin-right: 1px;
}

#workspaces button:first-child {
  border-top-left-radius: 6px;
  margin-right: 1px;
}

#workspaces button:last-child {
  border-bottom-right-radius: 6px;
}

#workspaces button.active {
  color: #cdd6f4;
  background: rgba(33, 118, 199, 0.6);
}

#workspaces .active:hover {
}

#workspaces button:hover {
 color: #1e1e2e;
 background-color: rgba(200, 200, 200, 0.8);
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#taskbar {
}

#taskbar *:hover {
}

#memory,
#custom-power,
#custom-online,
#backlight,
#pulseaudio,
#temperature,
#battery,
#network,
#clock,
#cpu,
#custom-logo,
#custom-notification,
#custom-nowplaying {
  font-family: JetBrainsMono Nerd Font;
  color: rgba(255, 255, 255, 1);
  border-radius: 0px;
  padding: 6px 6px;
  background: @widgetbg;
  margin: 8px 0;
}
#tray {
  margin-right: 8px;
}

#clock,
#custom-online {
  min-width: 128px;
  margin: 8px 4px;
  padding: 0;
  border-radius: 6px;
}

#custom-notification,
#pulseaudio,
#network,
#custom-logo,
#custom-nowplaying {
  border-radius: 6px; 
  margin: 8px 6px 8px 6px;
  padding: 0 9px 0 8px;
}
#cpu {
  border-radius: 8px 0px 0px 8px;
  margin-left: 6px;
  padding-right: 6px;
  padding-left: 5px;
  min-width: 75px;
  padding: 0px;
}
#memory {
  padding-right: 0px;
  border-left: 1px solid @panelbg;
  padding-left: 0px;
}
#temperature {
  padding-left: 6px;
  border-left: 1px solid @panelbg;
  border-radius: 0px 8px 8px 0;
}
#pulseaudio {
  padding-right: 16px;
  padding-left: 10px;
}
 

tooltip {
  border-radius: 10px;
  padding: 15px;
  background-color: #1e1e2e;
}

tooltip label {
  padding: 5px;
  color: #fff;
}

